@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-offwhite: #E2D9D2;
  --color-white: #FFFFFF;
  --color-black: #1F1F1F;
  --color-blue: #2D79C7;
  --color-yellow: #F2C94C;
  --color-red: #EB5757;
}

@layer base {
  h2 {
    @apply text-lg font-medium md:text-2xl;
  }
}

@layer components {
  .atomic-container {
    @apply mt-10 flex flex-col items-center space-y-4;
  }

  .atomic-title {
    @apply text-center font-bold font-mono text-xl border-b border-b-black/60 border-dashed w-full;
  }

  .atomic-list {
    @apply flex justify-center gap-2 flex-row items-center flex-wrap;
  }

  .atomic-mock {
    @apply p-2 rounded-lg bg-white max-w-[500px];
  }
}
